In [1]:
import pickle
import pandas as pd

In [2]:
with open('src/asset/ml_comp.pkl', 'rb') as file:
    loaded_object = pickle.load(file)

/Users/emmanuelkoupoh/Documents/Github/TITANIC-SURVIVAL-API/venv/lib/python3.9/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator SimpleImputer from version 1.1.3 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/Users/emmanuelkoupoh/Documents/Github/TITANIC-SURVIVAL-API/venv/lib/python3.9/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator StandardScaler from version 1.1.3 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/Users/emmanuelkoupoh/Documents/Github/TITANIC-SURVIVAL-API/venv/lib/python3.9/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator Pipeline from version 1.1.3 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/Users/emmanuelkoupoh/Documents/Github/TITANIC-SURVIVAL-API/venv/lib/python3.9/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator OneHotEncoder from version 1.1.3 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/Users/emmanuelkoupoh/Documents/Github/TITANIC-SURVIVAL-API/venv/lib/python3.9/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator ColumnTransformer from version 1.1.3 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/Users/emmanuelkoupoh/Documents/Github/TITANIC-SURVIVAL-API/venv/lib/python3.9/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator SelectKBest from version 1.1.3 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/Users/emmanuelkoupoh/Documents/Github/TITANIC-SURVIVAL-API/venv/lib/python3.9/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 1.1.3 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/Users/emmanuelkoupoh/Documents/Github/TITANIC-SURVIVAL-API/venv/lib/python3.9/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator BaggingClassifier from version 1.1.3 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [3]:
len(loaded_object.keys())

3

In [4]:
list(loaded_object.keys())

['pipeline', 'numeric_columns', 'categorical_columns']

In [5]:
loaded_object['categorical_columns']

['Sex', 'Embarked', 'Title']

In [6]:
loaded_object['pipeline']

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='median',
                                                                                 verbose='deprecated')),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  ['TicketNumber', 'SibSp',
                                                   'Pclass', 'Parch',
                                                   'PeopleInTicket', 'Fare',
                                                   'FarePerPerson', 'Age']),
                                                 ('cat',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='most_frequent',
                                                                                 verbo...deprecated')),
                                                                  ('encoder',
                                                                   OneHotEncoder(categories=[array(['male', 'female'], dtype=object),
                                                                                             array(['S', 'C', 'Q'], dtype=object),
                                                                                             array(['Mr', 'Mrs', 'Miss', 'Master', 'FemaleChild', 'Royalty', 'Officer'],
      dtype=object)],
                                                                                 drop='first',
                                                                                 sparse=False))]),
                                                  ['Sex', 'Embarked',
                                                   'Title'])])),
                ('univ_select', SelectKBest(k=6)),
                ('estimator', BaggingClassifier(random_state=0))])

In [19]:
data = {
"PeopleInTicket": 0,
"Age": 0,
"FarePerPerson": 0,
"SibSp": 0,
"Pclass": 0,
"Fare": 0,
"Parch": 0,
"TicketNumber": 0,
"Title": "Miss",
"Embarked": "S",
"Sex": "male"}

df = pd.DataFrame([data])

In [20]:
df.head()

,PeopleInTicket,Age,FarePerPerson,SibSp,Pclass,Fare,Parch,TicketNumber,Title,Embarked,Sex
0,0,0,0,0,0,0,0,0,Miss,S,male

In [22]:
loaded_object['pipeline']['preprocessor'].transformers[1][-1]

['Sex', 'Embarked', 'Title']

In [21]:
df[loaded_object['numeric_columns'] +loaded_object['categorical_columns']]

,TicketNumber,SibSp,Pclass,Parch,PeopleInTicket,Fare,FarePerPerson,Age,Sex,Embarked,Title
0,0,0,0,0,0,0,0,0,male,S,Miss